html, body{
	font-family: sans-serif;
	background: #fff;
	color: #333;
	
	/* Just an example media querie */
	@media screen and (max-width: 640px) {
		background: #333;
		color: #fff;
	}
}

*{
	box-sizing: border-box;
}
